/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'AlegreyaSans-Medium';
  src: url("alegreyasans-medium-webfont.eot");
  src: url("alegreyasans-medium-webfont.eot?#iefix") format("embedded-opentype"), url("alegreyasans-medium-webfont.woff2") format("woff2"), url("alegreyasans-medium-webfont.woff") format("woff"), url("alegreyasans-medium-webfont.ttf") format("truetype"), url("alegreyasans-medium-webfont.svg#alegreya_sansmedium") format("svg"); }

@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url("alegreyasans-bold-webfont.eot");
  src: url("alegreyasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("alegreyasans-bold-webfont.woff2") format("woff2"), url("alegreyasans-bold-webfont.woff") format("woff"), url("alegreyasans-bold-webfont.ttf") format("truetype"), url("alegreyasans-bold-webfont.svg#alegreya_sansbold") format("svg"); }

@font-face {
  font-family: 'AlegreyaSans-ExtraBold';
  src: url("alegreyasans-extrabold-webfont.eot");
  src: url("alegreyasans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("alegreyasans-extrabold-webfont.woff2") format("woff2"), url("alegreyasans-extrabold-webfont.woff") format("woff"), url("alegreyasans-extrabold-webfont.ttf") format("truetype"), url("alegreyasans-extrabold-webfont.svg#alegreya_sansextrabold") format("svg"); }

html, body {
  height: 100%; }

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow-y: hidden; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.btn {
  display: flex;
  position: relative;
  justify-content: center;
  border-left: 1px solid #DBDBDB; }

body {
  font-family: "Proxima Nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #8B8B8B; }

strong {
  font-weight: bold; }

a {
  text-decoration: none; }

.genre {
  color: #343C59;
  font-size: 11px;
  line-height: 17px; }

.likes {
  color: #000000;
  font-size: 12px; }

.price {
  font-size: 12px; }

.shared-quote {
  color: #000000;
  line-height: 15px; }

.article-info {
  padding-left: 15px; }

.article-title {
  font-family: "SourceSansPro-Black", "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  color: #000000;
  text-transform: uppercase;
  padding: 0 15px; }
  .article-title.preview {
    font-size: 44.8px;
    line-height: 42px; }

.article-subtitle {
  font-family: "SourceSansPro-Bold", "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #CE242D;
  text-transform: uppercase;
  padding: 30px 15px 0 15px; }
  .article-subtitle.preview {
    font-size: 22.4px;
    line-height: 24px; }

.article-intro {
  font-family: "AlegreyaSans-Medium", Helvetica, Arial, sans-serif;
  font-size: 26px;
  color: #000000;
  padding: 30px 15px 0 15px; }
  .article-intro.preview {
    font-size: 20.8px;
    line-height: 24px; }

.article-author {
  font-family: "AlegreyaSans-ExtraBold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333332;
  padding: 30px 15px; }

.article-header {
  font-family: "AlegreyaSans-Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #CE242D;
  text-transform: uppercase;
  padding: 30px 15px 0 15px; }

.article-paragraph {
  font-family: "AGaramondPro-Regular", "Garamond", serif;
  font-size: 21px;
  color: #333332;
  padding: 0 15px; }

figcaption {
  font-size: 10px;
  line-height: 12px; }

.article-end {
  padding: 30px 15px 0 15px; }

.image-large {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  overflow: hidden;
  z-index: 20;
  transition: opacity .3s ease-in-out; }

.image-large img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0;
  max-width: 0;
  box-sizing: border-box;
  transition: .3s ease-in-out; }

.image-large:target {
  opacity: 1;
  top: 0;
  bottom: 0; }

.image-large:target img {
  max-height: 100%;
  max-width: 100%; }

.cards {
  background-color: #F4F4F4; }

.card {
  position: relative;
  width: 100%;
  max-width: 335px;
  height: calc(100% - 30px);
  max-height: 760px;
  margin: 15px auto;
  overflow-y: hidden; }
  .card:after {
    content: "";
    display: table;
    clear: both; }

.shared-container {
  margin: 5px 15px; }

.shared-content {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  min-height: 150px; }

.shared-by {
  height: 40px;
  border-bottom: 1px solid #DBDBDB;
  padding: 0 10px;
  display: flex;
  position: relative;
  align-items: center; }

.genre {
  border: 1px solid #343C59;
  border-radius: 4px;
  padding: 0 5px;
  height: 17px;
  margin-right: 5px;
  transition: all 0.3s ease; }
  .genre:hover {
    background-color: #343C59;
    color: #FFFFFF;
    transition: all 0.3s ease; }

.line {
  position: absolute;
  left: 15px;
  top: 39px;
  width: 25px;
  height: 2px;
  z-index: 1;
  background: #343C59; }

.profiles {
  display: flex;
  position: relative;
  flex-grow: 1; }
  .profiles .profile {
    width: 30px;
    height: 30px; }

.likes {
  display: flex;
  position: relative;
  align-items: center; }
  .likes .heart {
    width: 15px;
    height: 15px;
    padding-right: 5px; }

.shared-info {
  padding: 15px 10px; }

.preview-container {
  margin: 5px 10px;
  overflow: hidden; }
  .preview-container:after {
    content: "";
    display: table;
    clear: both; }

.preview-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 110px;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.09); }

.preview-info {
  height: 40px;
  display: flex;
  position: relative; }
  .preview-info .btn {
    width: 40px;
    height: 40px; }

.provider {
  display: flex;
  position: relative;
  align-items: center;
  flex-grow: 1; }
  .provider .revu-logo {
    height: 15px;
    width: auto;
    margin-left: 10px; }

.price {
  line-height: 44px;
  padding-right: 10px; }

.article-preview {
  height: calc(100% - 40px);
  display: block; }

.article-preview::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -60px;
  height: 60px;
  pointer-events: none;
  background: linear-gradient(to top, #FFFFFF 5%, rgba(255, 255, 255, 0) 100%); }

.article-navigation {
  line-height: 44px;
  height: 44px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #FFFFFF; }
  .article-navigation .btn {
    width: 44px;
    height: 44px; }
    .article-navigation .btn:first-child {
      border-left: none; }
  @media (max-width: 800px) {
    .article-navigation .share, .article-navigation .pin, .article-navigation .article-info {
      display: none; }
    .article-navigation .close {
      border-right: 1px solid #DBDBDB; } }

.article-info {
  flex-grow: 1; }

.provider-info {
  position: absolute;
  top: 2px;
  left: calc(50% - 55px);
  width: 110px;
  z-index: 10; }
  @media (max-width: 450px) {
    .provider-info {
      left: calc(50% - 30px);
      top: 10px;
      width: 60px; }
      .provider-info img {
        width: 60px; } }

.content {
  padding-top: 44px;
  padding-bottom: 88px; }

.article {
  background-color: #FFFFFF;
  height: 100%; }

.main-image-small img {
  width: 100%;
  height: auto; }

.article-container {
  display: flex;
  position: relative;
  justify-content: center; }

.article-content {
  max-width: 635px; }

.article-title {
  max-width: 529.16667px;
  word-wrap: break-word; }

.article-subtitle {
  max-width: 100%;
  max-width: 317.5px;
  word-wrap: break-word; }

.article-image {
  padding: 15px 0;
  text-align: right;
  display: flex;
  position: relative;
  justify-content: center; }
  .article-image img {
    max-width: 100%; }

.stacked {
  padding-top: 0; }
