/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 30px;
  color: #948784; }

strong {
  font-weight: bold; }

figcaption {
  font-size: 10px;
  line-height: 12.14px; }

.article-info {
  font-family: "Proxima Nova";
  color: #948784;
  padding-left: 1rem; }

.article-title {
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: 56px;
  line-height: 60px;
  color: #000000;
  text-transform: uppercase;
  padding: 0 1rem; }

.article-subtitle {
  font-family: "SourceSansPro-Bold";
  font-size: 28px;
  color: #CE242D;
  text-transform: uppercase;
  padding: 0 1rem; }

.article-intro {
  font-family: "AlegreyaSans-Medium";
  font-size: 26px;
  color: #000000;
  padding: 2rem 1rem 0 1rem; }

.article-author {
  font-family: "AlegreyaSans-ExtraBold";
  font-size: 18px;
  color: #333332;
  padding: 2rem 1rem; }

.article-header {
  font-family: "AlegreyaSans-Bold";
  font-size: 22px;
  color: #CE242D;
  text-transform: uppercase;
  padding: 2rem 1rem 0 1rem; }

.article-paragraph {
  font-family: "AGaramondPro-Regular";
  font-size: 21px;
  color: #333332;
  padding: 0 1rem; }

.article-end {
  padding: 2rem 1rem 0 1rem; }

html {
  height: 100%; }

img {
  max-width: 100%; }
  img svg path {
    fill: red; }

.flex {
  display: flex; }
  .flex.center {
    justify-content: center; }
  .flex.left {
    justify-content: left; }
  .flex.right {
    justify-content: right; }

.cards {
  background-color: #F4F4F4; }

.navigation {
  line-height: 44px;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-bottom: 1px solid #EAEAEA; }

.article-info {
  flex-grow: 1; }

.provider-info {
  width: 100%;
  position: fixed;
  top: 2px;
  display: flex; }

.btn {
  width: 44px;
  display: flex;
  justify-content: center;
  border-left: 1px solid #EAEAEA; }

.content {
  padding-top: 44px;
  padding-bottom: 176px; }

.article-main-image {
  background-image: url("http://localhost:3000/images/image_main.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 50%; }

.article-content {
  width: 100%;
  max-width: 635px; }

.article-title {
  max-width: 529.16667px; }

.article-subtitle {
  max-width: 317.5px; }

.article-image {
  padding: 1rem 0;
  text-align: right; }

.stacked {
  padding-top: 0; }

.image-large {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  overflow: hidden; }

.image-large img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0;
  max-width: 0;
  box-sizing: border-box;
  transition: .5s ease-in-out; }

.image-large:target {
  opacity: 1;
  top: 0;
  bottom: 0; }

.image-large:target img {
  max-height: 100%;
  max-width: 100%; }
