//
// VARIABLES AND MIXINS
//
$mobile-breakpoint:            450px;
$tablet-breakpoint:            700px;
$desktop-breakpoint:           800px;

// paddings and margins
$standard:                     30px;
$half:                         15px;
$small:                        10px;
$extra-small:                  5px;

// border
$border:                       1px solid $light-grey;
$border-radius:                4px;

// article
$nav-bar-height:               44px;
$article-width:                635px;

// clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// flex functionality
@mixin flex {
  display: flex;
  position: relative;
}

//
// BASE STYLES
//
html, body {
  height: 100%;
}

// allows for fluid children
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow-y: hidden;
  @include clearfix;
}

.btn {
  @include flex;
  justify-content: center;
  border-left: $border;
}
