//
// VARIABLES AND MIXINS
//
$mobile-breakpoint:    500px;

// paddings and margins
$standard:              30px;
$half:                  15px;
$small:                 10px;
$extra-small:           5px;

// border
$border:                1px solid $light-grey;

// card
$card-nav-height:       40px;
$card-width:            335px;
$border-radius:         4px;

// article
$nav-bar-height:        44px;
$article-width:         635px;

// clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// flex functionality
@mixin flex {
  display: flex;
  position: relative;
}

//
// BASE STYLES
//
html, body {
  height: 100%;
}

// allows for fluid children
.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow-y: hidden;
  @include clearfix;
}

// flex functionality
.flex {
  display: flex;
  position: relative;

  &.center {
    justify-content: center;
  }

  &.left {
    justify-content: left;
  }

  &.right {
    justify-content: right;
  }

  &.one {
    flex-grow: 1;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

//
// CARD STYLES
//
.cards {
  background-color: $lightest-grey;
}

// fluid, vertically centered card
.card {
  position: relative;
  max-width: 100%;
  height: calc(100% - 30px);
  max-height: 760px;
  margin: $half auto;
  overflow-y: hidden;
  @include clearfix;

  @media (min-width: $mobile-breakpoint) {
    max-width: $card-width;
  }
}

// shared
.shared-container {
  margin: $extra-small $half;
}

.shared-content {
  background-color: $white;
  box-shadow: $shadow-small;
  border-radius: $border-radius;
}

.shared-by {
  height: $card-nav-height;
  border-bottom: $border;
  padding: 0 $small;
  @include flex;
  align-items: center;
}

.line {
  position: absolute;
  left: $half;
  top: ($card-nav-height - 1px);
  width: 26px;
  height: 2px;
  z-index: 1;
  background: $dark-blue;
}

.profiles {
  @include flex;
  flex-grow: 1;

  .profile {
    width: $standard;
    height: $standard;
  }
}

.likes {
  @include flex;
  align-items: center;

  .heart {
    width: $half;
    height: $half;
    padding-right: $extra-small;
  }
}

.shared-info {
  padding: $half $small;
}

// article-preview
.preview-container {
  margin: $extra-small $small;
  overflow: hidden;
  @include clearfix;
}

.preview-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 110px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  // TODO: check-transition
  transition: top .3s cubic-bezier(.71, .01, .04, 1.6);
}

.preview-content {
  background-color: $white;
  border: 1px solid $light-grey;
  box-shadow: $shadow-big;
  height: 100%;
  overflow: hidden;
  @include clearfix;
}

.preview-info {
  height: $card-nav-height;
  background-color: $white;
  @include flex;

  .btn {
    width: $card-nav-height;
  }
}

.provider {
  @include flex;
  align-items: center;
  flex-grow: 1;

  .revu-logo {
    height: $half;
    width: auto;
    margin-left: $small;
  }
}

.price {
  line-height: $nav-bar-height;
  padding-right: $small;
}

.article-preview {
  height: calc(100% - 40px);
  display: block;
}

.article-preview::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -($standard*2);
  height: ($standard*2);
  pointer-events: none;
  background: linear-gradient(to top, $white 5%, rgba(255, 255, 255, 0) 100%);
}

.article-preview-image {
    background-image: url('http://localhost:3000/images/image_preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    // TODO: check padding-top
    padding-top: 65%;
}

// article styles
// top navigation bar
.navigation {
  line-height: $nav-bar-height;
  height: $nav-bar-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // TODO: hier naar kijken
  z-index: 10;
  background-color: $white;
  border-bottom: $border;
}

.article-info {
  flex-grow: 1;
}

.provider-info {
  width: 100%;
  @include flex;
  position: fixed;
  z-index: 2;
  top: 2px;
}

.btn {
  width: $nav-bar-height;
  @include flex;
  justify-content: center;
  border-left: $border;
}

.btn:hover {
  // TODO: inline-svg's to make hover effects
}

// main content
.content {
  padding-top: $nav-bar-height;
  padding-bottom: ($nav-bar-height*4);
}

// articles

.article {
  background-color: $white;
  height: 100%;
}

.article-main-image {
    background-image: url('http://localhost:3000/images/image_main.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    // TODO: check padding-top
    padding-top: 50%;
}

.article-content {
  width: 100%;
  max-width: $article-width;
}

.article-title {
  max-width: (($article-width/6)*5);
}

.article-subtitle {
  max-width: ($article-width/2);
}

// TODO: have a look at max-width of images after nav collapse
.article-image {
  padding: $half 0;
  text-align: right;
}

.stacked {
  padding-top: 0;
}
