//
// CARD STYLES
//

// variables
$card-nav-height:              40px;
$card-width:                   335px;

// base styles
.cards {
  background-color: $lightest-grey;
}

// fluid, vertically centered card
.card {
  position: relative;
  width: 100%;
  max-width: $card-width;
  height: calc(100% - 30px);
  max-height: 760px;
  margin: $half auto;
  overflow-y: hidden;
  @include clearfix;
}

// shared
.shared-container {
  margin: $extra-small $half;
}

.shared-content {
  background-color: $white;
  box-shadow: $shadow-small;
  border-radius: $border-radius;
  min-height: 150px;
}

.shared-by {
  height: $card-nav-height;
  border-bottom: $border;
  padding: 0 $small;
  @include flex;
  align-items: center;
}

.genre {
  border: 1px solid $dark-blue;
  border-radius: $border-radius;
  padding: 0 $extra-small;
  height: 17px;
  margin-right: $extra-small;
  @include ease;

  &:hover {
    background-color: $dark-blue;
    color: $white;
    @include ease;
  }
}

.line {
  position: absolute;
  left: $half;
  top: ($card-nav-height - 1px);
  width: 25px;
  height: 2px;
  z-index: 1;
  background: $dark-blue;
}

.profiles {
  @include flex;
  flex-grow: 1;

  .profile {
    width: $standard;
    height: $standard;
  }
}

.likes {
  @include flex;
  align-items: center;

  .heart {
    width: $half;
    height: $half;
    padding-right: $extra-small;
  }
}

.shared-info {
  padding: $half $small;
}

// article-preview
.preview-container {
  margin: $extra-small $small;
  overflow: hidden;
  @include clearfix;
}

.preview-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 110px;
  background-color: $white;
  border: $border;
  box-shadow: $shadow-big;
}

.preview-info {
  height: $card-nav-height;
  @include flex;

  .btn {
    width: $card-nav-height;
    height: $card-nav-height;
  }
}

.provider {
  @include flex;
  align-items: center;
  flex-grow: 1;

  .revu-logo {
    height: $half;
    width: auto;
    margin-left: $small;
  }
}

.price {
  line-height: $nav-bar-height;
  padding-right: $small;
}

.article-preview {
  height: calc(100% - 40px);
  display: block;
}

// gradient
.article-preview::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: -($standard*2);
  height: ($standard*2);
  pointer-events: none;
  background: linear-gradient(to top, $white 5%, rgba(255, 255, 255, 0) 100%);
}
