// blendle color palette

$white:						  #FFFFFF;
$lightest-grey:     #F4F4F4;
$light-grey:        #DBDBDB;
$warm-grey:         #948784;
$cool-grey:         #8B8B8B;
$dark-grey:         #333332;
$black:             #000000;

$blendle-orange:    #F64F2C;
$revue-red:         #CE242D;
$dark-blue:         #343C59;
