//
// FONTS
//

// Alegreya Sans
@font-face {
  font-family: "AlegreyaSans-Medium";
  src: url("../fonts/alegreyasans-medium.ttf");
}

@font-face {
  font-family: "AlegreyaSans-Bold";
  src: url("../fonts/alegreyasans-bold.ttf");
}

@font-face {
  font-family: "AlegreyaSans-ExtraBold";
  src: url("../fonts/alegreyasans-extrabold.ttf");
}
