//
// FONTS
//

// Alegreya Sans
@font-face {
    font-family: 'AlegreyaSans-Medium';
    src: url('/blendle/app/stylesheets/fonts/alegreyasans-medium-webfont.eot');
    src: url('/blendle/app/stylesheets/fonts/alegreyasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-medium-webfont.woff') format('woff'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-medium-webfont.ttf') format('truetype'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-medium-webfont.svg#alegreya_sansmedium') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans-Bold';
    src: url('/blendle/app/stylesheets/fonts/alegreyasans-bold-webfont.eot');
    src: url('/blendle/app/stylesheets/fonts/alegreyasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-bold-webfont.woff') format('woff'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-bold-webfont.ttf') format('truetype'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-bold-webfont.svg#alegreya_sansbold') format('svg');
}

@font-face {
    font-family: 'AlegreyaSans-ExtraBold';
    src: url('/blendle/app/stylesheets/fonts/alegreyasans-extrabold-webfont.eot');
    src: url('/blendle/app/stylesheets/fonts/alegreyasans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-extrabold-webfont.woff2') format('woff2'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-extrabold-webfont.woff') format('woff'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-extrabold-webfont.ttf') format('truetype'),
         url('/blendle/app/stylesheets/fonts/alegreyasans-extrabold-webfont.svg#alegreya_sansextrabold') format('svg');
}
