//
// TYPOGRAPHY VARIABLES
//

$base-font-size:               14px;

// cards
$card-font-size:               12px;
$genre-font-size:              11px;

// articles
$subtitle-font-size:           28px;
$title-font-size:              56px;
$intro-font-size:              26px;
$author-font-size:             18px;
$paragraph-font-size:          21px;
$header-font-size:             22px;
$caption-font-size:            10px;

// line-heights
$base-line-height:             30px;
$title-line-height:            ($base-line-height*2);

// mobile
$mobile:                       0.6;

// preview
$preview:                      0.8;

// padding
$side-padding:                 0 $half;
$top-padding:                  $standard $half 0 $half;
$top-bottom-padding:           $standard $half;

$mobile-side-padding:          0 ($half/2);
$mobile-top-padding:           $half ($half/2) 0 ($half/2);
$mobile-top-bottom-padding:    $half ($half/2);

//
// BASE
//
body {
  font-family: "Proxima Nova", "proxima-nova", Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $cool-grey;

  @media (max-width: $mobile-breakpoint) {
    font-size: $base-font-size*$mobile;
    line-height: $base-line-height*$mobile;
  }
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}

//
// CARDS
//
.genre {
  font-size: $genre-font-size;
  line-height: 17px;
  color: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: $border-radius;
  padding: 0 5px;
  height: 17px;
  margin-right: 5px;

  @media (max-width: $mobile-breakpoint) {
    font-size: $card-font-size*$mobile;
  }
}

.likes {
  color: $black;
  font-size: $card-font-size;

  @media (max-width: $mobile-breakpoint) {
    font-size: $card-font-size*$mobile;
  }
}

.price {
  font-size: $card-font-size;

  @media (max-width: $mobile-breakpoint) {
    font-size: $card-font-size*$mobile;
  }
}

.shared-quote {
  color: $black;
  line-height: ($base-line-height/2);
}

//
// ARTICLES
//
.article-info {
  padding-left: 15px;
}

.article-title {
  font-family: "SourceSansPro-Black", "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: $title-font-size;
  line-height: $title-line-height;
  color: $black;
  text-transform: uppercase;
  padding: $side-padding;

  &.preview {
    font-size: $title-font-size*$preview;
    line-height: $title-line-height*0.7;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: $title-font-size*$mobile;
    line-height: $title-line-height*$mobile;
    padding: $mobile-top-padding;
  }
}

.article-subtitle {
  font-family: "SourceSansPro-Bold", "source-sans-pro", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: $subtitle-font-size;
  color: $revue-red;
  text-transform: uppercase;
  padding: $top-padding;

  &.preview {
    font-size: $subtitle-font-size*$preview;
    line-height: $base-line-height*$preview;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: $subtitle-font-size*$mobile;
    line-height: $base-line-height*$mobile;
    padding: $mobile-top-padding;
  }
}

.article-intro {
  font-family: "AlegreyaSans-Medium", Helvetica, Arial, sans-serif;
  font-size: $intro-font-size;
  color: $black;
  padding: $top-padding;

  &.preview {
    font-size: $intro-font-size*$preview;
    line-height: $base-line-height*$preview;
  }

  @media (max-width: $mobile-breakpoint) {
    font-size: $intro-font-size*$mobile;
    line-height: $base-line-height*$mobile;
    padding: $mobile-top-padding;
  }
}

.article-author {
  font-family: "AlegreyaSans-ExtraBold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: $author-font-size;
  color: $dark-grey;
  padding: $top-bottom-padding;

  @media (max-width: $mobile-breakpoint) {
    font-size: $author-font-size*$mobile;
    padding: $mobile-top-bottom-padding;
  }
}

.article-header {
  font-family: "AlegreyaSans-Bold", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: $header-font-size;
  color: $revue-red;
  text-transform: uppercase;
  padding: $top-padding;

  @media (max-width: $mobile-breakpoint) {
    font-size: $header-font-size*$mobile;
    line-height: $base-line-height*$mobile;
    padding: $mobile-top-padding;
  }
}

.article-paragraph {
  font-family: "AGaramondPro-Regular", "Garamond", serif;
  font-size: $paragraph-font-size;
  color: $dark-grey;
  padding: $side-padding;

  @media (max-width: $mobile-breakpoint) {
    font-size: $paragraph-font-size*$mobile;
    line-height: $base-line-height*$mobile;
    padding: $mobile-side-padding;
  }
}

figcaption {
  font-size: $caption-font-size;
  line-height: $caption-font-size*1.2;

  @media (max-width: $mobile-breakpoint) {
    font-size: $caption-font-size*$mobile;
  }
}

.article-end {
  padding: $top-padding;

  @media (max-width: $mobile-breakpoint) {
    padding: $mobile-top-padding;
  }
}
