// basic typography
$base-font-size:        14px;
$subtitle-font-size:    ($base-font-size*2);
$title-font-size:       ($base-font-size*4);

// in order of appearance
$intro-font-size:       26px;
$author-font-size:      18px;
$paragraph-font-size:   21px;
$header-font-size:      22px;
$caption-font-size:     10px;

// line-heights
$base-line-height:      30px;
$title-line-height:     ($base-line-height*2);

// padding
$standard-padding:      0 15px;
$top-padding:           30px 15px 0 15px;
$top-bottom-padding:    30px 15px;

body {
  font-family: "Proxima Nova";
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $cool-grey;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}

figcaption {
  font-size: $caption-font-size;
  line-height: 12.14px;
}

// card styles
.genre {
  font-size: $base-font-size*0.8;
  line-height: 17px;
  color: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  padding: 0 5px;
  height: 17px;
  margin-right: 5px;
}

.likes {
  color: $black;
  font-size: 12px;
}

.price {
  font-size: 12px;
}

.shared-quote {
  color: $black;
  line-height: ($base-line-height/2);
}

// article styles
.article-info {
  padding-left: 15px;
}

.article-title {
  font-family: "SourceSansPro-Black", sans-serif;
  font-size: $title-font-size;
  line-height: $title-line-height;
  color: $black;
  text-transform: uppercase;
  padding: $standard-padding;

  &.preview {
    font-size: $title-font-size*0.8;
    line-height: $title-line-height*0.6;
  }
}

.article-subtitle {
  font-family: "SourceSansPro-Bold";
  font-size: $subtitle-font-size;
  color: $revue-red;
  text-transform: uppercase;
  padding: $standard-padding;

  &.preview {
    font-size: $subtitle-font-size*0.8;
    line-height: $base-line-height*0.7;
  }
}

.article-intro {
  font-family: "AlegreyaSans-Medium";
  font-size: $intro-font-size;
  color: $black;
  padding: $top-padding;

  &.preview {
    font-size: $intro-font-size*0.8;
    line-height: $base-line-height*0.8;
  }
}

.article-author {
  font-family: "AlegreyaSans-ExtraBold";
  font-size: $author-font-size;
  color: $dark-grey;
  padding: $top-bottom-padding;
}

.article-header {
  font-family: "AlegreyaSans-Bold";
  font-size: $header-font-size;
  color: $revue-red;
  text-transform: uppercase;
  padding: $top-padding;
}

.article-paragraph {
  font-family: "AGaramondPro-Regular";
  font-size: $paragraph-font-size;
  color: $dark-grey;
  padding: $standard-padding;
}

.article-end {
  padding: $top-padding;
}
